/* background image to span entire page*/
body { 
    background: url("../images/8bitbackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.logo{
    font-family: 'Press Start 2P', cursive;
    font-size:1.5rem;
    text-align: center;
    margin-top: 20px;
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    background: -webkit-linear-gradient(#FE0002,  #FFF512);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#directions{
    margin:auto;
    margin-top:20px;
}

#direction-list{
    text-align:left;
}

.nes-field{
    width:50%;
    margin:auto;
    margin-bottom:20px;
}

input#name_field{
    background-color: transparent;
    text-align:center;
}

#waiting-screen{
    margin-top: 30px;
}

#player-moves{
    margin-top: 50px;
}
.hand {
    height:5rem;
    margin:auto;
    position: absolute;
    /*animation: hand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6 alternate both;*/

}

#thumbs-up{
    height:5rem;
    margin:auto;
    position: absolute;
    
}

#player2-choice #thumbs-up{
    transform: rotate(180deg);
}

#player1-choice{
    height:5rem;
    width:9.625rem;
    margin: auto;
    margin-bottom: 20px;
    
}

#player2-choice{
    height:5rem;
    width:9.625rem;
    margin:auto;
    transform: rotate(180deg);
    margin-bottom: 20px;
}

.player-title{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.button-container{
    margin-top:50px;
    align-content:center;
}

.button-row{
    justify-content: center;
}

.action-text{
    display: block;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
    
}

.nes-btn{
    margin-right:20px;
}




